# Ignorar a pasta .idea
.idea/

# Ignorar o próprio arquivo .gitignore
.gitignore

# Ignorar arquivos e pastas do Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl
.terraform.tfstate.lock.info